body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-image: url('https://images.unsplash.com/photo-1625334666162-8ad10e7332d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}
.bod {
    /* background-image: url("https://images.unsplash.com/photo-1625334666162-8ad10e7332d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"); */
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.but {
    padding: 4px;
    background-color: rgb(157, 255, 208);
    /* margin: 5px; */
    padding: 3px 80px;
    font-size: 21px;
    color: rgb(255, 174, 0);
    border: 4px;
    border-style: none;
    border-radius: 7px;
}

.but:hover {
    background-color: rgb(97, 97, 97);
    cursor: pointer;
    /* color: rgb(255, 255, 255); */
}

.navbar {
    /* margin-top: 10px; */
    margin-left: -4px;
    margin-right: -4px;
    margin-top: -2px;
    padding: 30px;
    border: 2px;
    border-style: solid;
    /* border-radius: 9px; */
    border-color: rgb(255, 213, 0);
}

.navbar:hover {
    border-color: rgb(255, 255, 255);
}

.navitem {
    padding: 20px;
    font-style: italic;
    font-size: x-large;
    text-decoration: none;
    color: rgb(75, 255, 240);

}

.navitem:hover {
    color: rgb(75, 255, 240);
    font-size: xx-large;
    font-style: normal;
}

.search {
    font-size: 20px;
    border: 4px;
    border-radius: 12px;
    border-color: rgb(192, 192, 192);
    border-style: solid;
    margin-left: 750px;
    text-align: center;
}

.search:hover {
    border: 4px;
    
    border-color: rgb(126, 126, 126);
    border-style: solid;
}

label {
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

input {
    font-size: 21px;
    border-style: none;
    border-radius: 7px;
    background-color: rgb(225, 189, 134);
}
input:hover{
    background-color: rgb(226, 255, 119);
}
.tab{
    background-image: url('https://plus.unsplash.com/premium_photo-1664438942574-e56510dc5ce5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80');
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    height: 100%;
}
table {
    display: inline-block;
    /* width: 25%; */
    z-index: 2;
    margin-left: 500px;
    /* margin-top: 50px; */
    padding: 24px;
    /* background-color: rgb(172, 172, 172); */
    border-radius: 7px;
}

th {
    color: azure;
    size: 50%;
    font-size: 24px;
    font-family: 'Comfortaa', cursive;
    text-decoration: underline;
    padding-bottom: 16px;
}
.rmbr{
    text-align: center;
}
.mail{
    padding-right: 10px;
}
td{
    color: azure;
    padding-bottom: 6px;
}
img{
    margin-left: 40px;
    margin-top: 50px;
}